/* LoginSignup.css */
.box {
    background: #f0f0f0;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    padding: 30px 25px;
    width: 280px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

h2 {
    text-align: center;
    color: #3ea45f;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.primary-btn {
    background-color: #1abc9c;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.primary-btn:hover {
    background-color: #3f51b5;
}

.danger-btn {
    background-color: #e53935;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.danger-btn:hover {
    background-color: #c62828;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}