/* App.css */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #d1dbd4, #d4dedc);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0a0a0a;
}

